*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100%;
  display: flex;
  background-color: rgb(105, 156, 174);
  padding: 70px 50px; 
}
.component{
  width: 100%;
  display: flex;
  background-color: rgb(40, 83, 99);
  border-radius: 30px;
}